
.noncard {
  /* Look similar to a card design without having to use a card */
  padding: 32px;
}

.noncard.compact {
  padding-bottom: 0;
  padding-top: 0;
}

.noncard > h4 {
  font-weight: 300;
}

.noncard > p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 16px;
  color: rgba(0,0,0,.54);
}

.aligned-spinner {
  top: 10px;
  visibility: hidden;
}

.ace_gutter {
  /* Working around a clash with getmdl-select */
  z-index: 0;
}

.metaschema-textfield {
  width: 400px;
}

#schemaEditor {
  height: 600px;
}

#documentEditor {
  height: 600px;
}

#jsonResults {
  margin: 16px;
  width: 600px;
  height: 350px;
}

.mdl-dialog {
  width: fit-content;
}

.mdl-dialog__title {
  font-size: 2rem;
}